<!doctype html>
<html lang="ja">
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <header style="border-bottom-style:solid;border-bottom-width:thin;">
      {{ meta.siteName }}
    </header>
    <article>
      <h1>{{ title }}</h1>
      <p>author: {{ author }}</p>
      {{ content | safe }}
    <article>
    <footer style="border-top-style:solid;border-top-width:thin;">
      <ul>
      {%- for link in meta.footerLinks %}
        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
      {%- endfor %}
      <ul>
    </footer>
  <body>
</html>