---
layout: layouts/base.njk
---

    {% include "layouts/hero-bgImage.njk" %}

    <div class="page-content">
<div class="container px-5 py-20 mx-auto">
<div class="max-w-4xl mx-auto prose">
    {{ content | safe }}
 </div>
</div>

</div>

<div class="page-footer">
</div>
