---
layout: layout-contact.njk
title: お問い合わせ
permalink: contact/finish.html
---

<section class="font-body">
  <div class="mx-auto max-w-4xl sm:px-24 px-6 sm:py-20 py-10 text-center">
        <p class="text-lg pb-4">お問い合わせいただき、ありがとうございます。<br>自動返信メールを送信いたしました。</p>
    </div>
</section>