<div class="page-header bg-blue">
    <div class="container px-5 py-16 mx-auto text-center">
      <h1 class="title text-3xl mb-4 font-semibold tracking-wider">{{ title }}</h1>
     <!-- <div class="subtitle">サブタイトルが入ります</div> -->
    </div>
</div>