<section class="section" id="sec04">
  <div class="container px-5 py-20 mx-auto">
      <h2 class="sec-ttl">部屋情報</h2>
      <div class="max-w-2xl mx-auto prose mb-10">
      <table>
        <thead>
          <tr>
            <th>部屋番号</th>
            <th>部屋タイプ</th>
            <th>部屋サイズ</th>
            <th>家賃月額</th>
            <th>空室状況</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>101</td>
            <td>洋室</td>
            <td>11.18(㎡)</td>
            <td>¥29,000</td>
            <td>空室</td>
          </tr>
          <tr>
            <td>102</td>
            <td>洋室</td>
            <td>11.18(㎡)</td>
            <td>¥29,000</td>
            <td>空室</td>
          </tr>
          <tr>
            <td>103</td>
            <td>洋室</td>
            <td>11.18(㎡)</td>
            <td>¥29,000</td>
            <td>空室</td>
          </tr>
          <tr>
            <td>104</td>
            <td>洋室</td>
            <td>11.18(㎡)</td>
            <td>¥29,000</td>
            <td>空室</td>
          </tr>
          <tr>
            <td>201</td>
            <td>洋室</td>
            <td>11.18(㎡)</td>
            <td>¥29,000</td>
            <td>空室</td>
          </tr>
          <tr>
            <td>202</td>
            <td>洋室</td>
            <td>11.18(㎡)</td>
            <td>¥29,000</td>
            <td>空室</td>
          </tr>
          <tr>
            <td>203</td>
            <td>洋室</td>
            <td>11.18(㎡)</td>
            <td>¥29,000</td>
            <td>空室</td>
          </tr>
          <tr>
            <td>204</td>
            <td>洋室</td>
            <td>11.18(㎡)</td>
            <td>¥29,000</td>
            <td>空室</td>
          </tr>
          <tr>
            <td>205</td>
            <td>洋室</td>
            <td>11.18(㎡)</td>
            <td>¥29,000</td>
            <td>空室</td>
          </tr>
          <tr>
            <td>206</td>
            <td>洋室</td>
            <td>11.18(㎡)</td>
            <td>¥29,000</td>
            <td>空室</td>
          </tr>
        </tbody>
      </table>
      
    </div>
    <div class="text-center">
      <a class="btn-base sm:w-auto sm:mb-0 hover:bg-opacity-75" href="{{ '/' | url }}contact/"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z"/></svg> 物件へのお問い合わせ</a>
    </div>
  </div>
</section>