<section class="section" id="sec01">
  <div class="container px-5 py-20 mx-auto">
    <h2 class="sec-ttl">物件写真いろいろ</h2>
    <div class="flex flex-col w-full mb-10">
      <div class="max-w-4xl mx-auto">
        <div class="grid grid-cols-3 md:grid-cols-5 gap-3 mx-auto" id="lightgallery">
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake01.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/s-kariwake01.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake02.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/s-kariwake02.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake03.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/s-kariwake03.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake04.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/s-kariwake04.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake05.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/kariwake05.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake06.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/kariwake06.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake07.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/kariwake08.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake09.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/kariwake09.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake10.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/kariwake10.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake11.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/kariwake11.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake12.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/kariwake12.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake13.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/kariwake13.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake14.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/kariwake14.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake15.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/kariwake15.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake16.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/kariwake16.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake17.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/s-kariwake17.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake18.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/s-kariwake18.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake19.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/s-kariwake19.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake20.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/s-kariwake20.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake21.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/kariwake21.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake22.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/s-kariwake22.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake23.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/s-kariwake23.jpg' | url }}" alt="">
            </a>
          </div>
          <div class="w-full rounded">
            <a href="{{ '/assets/images/kariwake24.jpg' | url }}" class="zoom-img">
              <img src="{{ '/assets/images/kariwake24.jpg' | url }}" alt="">
            </a>
          </div>
        </div>
       <p class="mt-4">※2段ベットの写真がありますが、全て1人用のお部屋です。<br>
※お部屋のレイアウトは写真と少し異なります。</p>
      </div>
    </div>
    <div class="text-center">
      <a class="btn-base sm:w-auto sm:mb-0 hover:bg-opacity-75" href="{{ '/' | url }}contact/"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z"/></svg> 物件へのお問い合わせ</a>
    </div>
  </div>
</section>