 <section class="section bg-default" id="sec08">
      <div class="container px-5 py-20 mx-auto">
        <h2 class="text-3xl font-medium mb-6 kerning text-base text-center">おすすめポイント</h2>
        <div class="max-w-3xl mx-auto">
          <div class="grid grid-cols-1 gap-6">
            <div class="flex gap-4 md:gap-6 bg-white rounded-md p-6">
              <div class="w-10 md:w-14 h-10 md:h-14 flex justify-center items-center shrink-0 bg-main text-white rounded-lg md:rounded-xl shadow-lg">
                <svg class="inline-block w-8 md:w-10" viewBox="0 0 20 20" fill="#FFF">
                  <path fill="none" d="M0 0h20v20H0z" />
                  <path d="M13.21 3.61c-.1.34-.21.74-.21 1.51L15.88 8h.62v2.8l-1.95.43-1.19 4.27H11.5V14H7v1.5H5.13C4.49 13.26 3.5 9.46 3.5 8c0-1.65 1.35-3 3-3h4.9c.33-.57.93-1.15 1.81-1.39zM14 2c-2.17 0-3.35 1.5-3.35 1.5H6.5C4.05 3.5 2 5.47 2 8c0 2.33 2 9 2 9h4.5v-1.5H10V17h4.5l1.25-4.5L18 12V6.5h-1.5l-2-2c0-.36.5-.98.5-1.5 0-.55-.45-1-1-1zm-3 5.5H7V6h4v1.5zM13.25 9c-.41 0-.75-.34-.75-.75s.34-.75.75-.75.75.34.75.75-.34.75-.75.75z" /></svg>
              </div>
              <div class="text-gray-600">
                <h3 class="text-lg md:text-2xl font-medium my-2">リーズナブル</h3>
                <ul class="list-disc mb-2 pl-4">
                  <li><strong>初期費用は保証金30,000円と家賃1か月分</strong>のみ。敷金礼金は不要。</li>
                  <li>家賃は光熱費とインターネット料金、共益費、水道代も含まれて29,000円</li>
                  <li>契約更新時の料金も発生しないので、ご安心ください。</li>
                </ul>
                <small>※光熱費が上限を超過した場合や、居住人数が増える場合のみ、別途費用が発生します。</small>
              </div>
            </div>
            <div class="flex gap-4 md:gap-6 bg-white rounded-md p-6">
              <div class="w-10 md:w-14 h-10 md:h-14 flex justify-center items-center shrink-0 bg-main text-white rounded-lg md:rounded-xl shadow-lg">
                <svg class="inline-block w-8 md:w-10" viewBox="0 0 24 24" fill="#FFF">
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path d="m12 8.89.94 3.11h2.82l-2.27 1.62.93 3.01L12 14.79l-2.42 1.84.93-3.01L8.24 12h2.82L12 8.89M12 2l-2.42 8H2l6.17 4.41L5.83 22 12 17.31 18.18 22l-2.35-7.59L22 10h-7.58L12 2z" /></svg>
              </div>
              <div class="text-gray-600">
                <h3 class="text-lg md:text-2xl font-medium my-2">手続きが簡単でスピーディ</h3>
                <p class="mb-2">お部屋が空いていれば、下記のものだけで即日入居可能。</p>
                <ul class="list-disc mb-2 pl-4">
                  <li><strong>パスポートなどの本人確認書類</strong></li>
                  <li><strong>保証金30,000円</strong></li>
                  <li><strong>家賃1か月分</strong></li>
                </ul>
                <p class="mb-2">賃貸物件で必要な連帯保証人、電気、ガス、インターネットの申し込み不要。<br>
                  その他の複雑な手続きは必要ありません。退去は3週間前に申請すればOKです。</p><small>※保証金は最大20,000円のご返金が可能です！</small>
              </div>
            </div>
            <div class="flex gap-4 md:gap-6 bg-white rounded-md p-6">
              <div class="w-10 md:w-14 h-10 md:h-14 flex justify-center items-center shrink-0 bg-main text-white rounded-lg md:rounded-xl shadow-lg">
                <svg class="inline-block w-8 md:w-10" viewBox="0 0 20 20" fill="#FFF">
                  <path fill="none" d="M0 0h20v20H0z" />
                  <circle cx="10" cy="3.75" r="1.75" />
                  <path d="M11.39 7.92C11.15 7.36 10.61 7 10 7s-1.15.36-1.39.92L6 14h2.5v4h3.01v-4H14l-2.61-6.08z" /></svg> </div>
              <div class="text-gray-600">
                <h3 class="text-lg md:text-2xl font-medium my-2">スタッフが全員女性</h3>
                <p class="mb-2">女性ならではのきめ細やかで丁寧な対応をいたします。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>