<section class="section" id="sec07">
  <div class="container px-5 py-20 mx-auto">
    <h2 class="sec-ttl">管理会社</h2>

    <div class="max-w-2xl mx-auto facility">
    <h3 class="font-semibold text-lg text-center">京都アパートメント</h3>
<table class="is-mt0">
  <tbody>
    <tr>
      <th>所在地</th>
      <td>〒604-8811
        <br /> 京都府京都市中京区壬生賀陽御所町77-1 近庄ビル2階</p>
        <p class="">(事務所へお立ち寄りの際は、必ず事前にご連絡ください。入退去対応中は京都アパートメントスタッフが不在の可能性がございます。）</p>
      </td>
    </tr>
    <tr>
      <th>TEL＆FAX</th>
      <td>TEL 075-812-8776 / FAX 075-811-5550</td>
    </tr>
    <tr>
      <th>E-mail</th>
      <td>info@kyoto-apartment.com</td>
    </tr>
    <tr>
      <th>URL</th>
      <td><a href="https://www.kyoto-apartment.com/">www.kyoto-apartment.com</a></td>
    </tr>
  </tbody>
</table>

<h3 class="font-semibold text-lg text-center">本社情報</h3>
<table class="is-mt0">
  <tbody>
    <tr>
      <th>商号</th>
      <td>株式会社近庄</td>
    </tr>
    <tr>
      <th>本社所在地</th>
      <td>京都府京都市中京区壬生賀陽御所町77-1</td>
    </tr>
    <tr>
      <th>連絡先</th>
      <td>TEL 075-813-5777 / FAX 075-811-5550</td>
    </tr>
    <tr>
      <th>設立年度</th>
      <td>嘉永元年（1848年）</td>
    </tr>
    <tr>
      <th>資本金</th>
      <td>2,000万円</td>
    </tr>
    <tr>
      <th>URL</th>
      <td><a href="http://www.yamasyo.net/kinsyo/">http://www.yamasyo.net/kinsyo/</a></td>
    </tr>
  </tbody>
</table></div>
  </div>
</section>