---
layout: layout-home.njk
title: home
---

<!-- hero -->
{% include "layouts/sec-hero.njk" %}



<h3>ブログ</h3>
<ul>
{%- for item in collections.blog | reverse -%}
  <li>{{ item.data.date | readableDate }} / <a href="{{ item.url }}">{{ item.data.title }}</a></li>
{%- endfor %}
</ul>

